@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

@font-face {
    font-family: quicksand;
    src: url(assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: quicksand, 'Reem Kufi Ink', sans-serif;
}
body{
    background: linear-gradient(135deg, #705f93, #758e87) url(images/coming-soon.jpg);
    background-blend-mode: multiply;
    height: 100vh;
    width: 100%;
    color: #fdfefe;
}
.general-container {
    text-transform: uppercase;
    font-size: 1.6rem;
    width: 50%;
    position: relative;
    top: 30vh;
    margin: auto;
    display: block;
    text-align: center;
}
.count-down {
    padding-top: 50px;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.c-s {
    font-size: 3rem;
}
@media screen and (max-width: 900px) {
    * {
        font-size: 1rem;
    }
    .general-container {
        width: 100%;
    }
    .count-down {
        display: block;
    }
    .c-s {
        font-size: 1.6rem;
    }
}